VITE_API_BASE_URL=http://localhost:8080
VITE_USE_MOCKS=true

VITE_MOCK_DASHBOARD=false
VITE_MOCK_USERS=true
VITE_MOCK_SESSIONS=false
VITE_MOCK_AUDIT=false
VITE_MOCK_ROLES=true
VITE_MOCK_PERMISSIONS=true
VITE_MOCK_GRANTS=true
VITE_MOCK_ORGANIZATIONS=true
